body {
  font-family: 'Lobster', cursive;
  background-color: #8EBB7E;
}

.top {
  text-align: center;
  color: #D4AF37;
  font-size: 500%;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  font-size: 2em;
}

li a {
  color: orange;
}

.navbar {
  background-color: #FF9C58;
}

h1 {
  color: #000;
  text-align: center;
}

h2, h3, h4 {
  color: #000;
}
