<h2>My name is Tucker Mayo, and I'm a student at Epicodus.</h2>
    <p>This is an Ember app that I built on March 6, 2015</p>
    
<div>
  <br />
  {{#link-to 'folders' classNames="btn btn-warning"}}See list of Folders{{/link-to}}
</div>
