<div class='container'>
  <h1><img src="css/email.jpg">Epicodus Email</h1>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'folders'}}Folders{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}
</div>
