<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
      <h1 class="top">Email Client</h1>
    <ul class="nav navbar-nav navbar-left">
      <li><img class="rotate" src="css/email.jpg" style="margin-left:7px;"></li>
    </ul>

    <ul class='nav navbar-nav'>
      <li>{{#link-to 'folders'}}Folders{{/link-to}}</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><img class="rotate" src="css/email.jpg"></li>
    </ul>
  </nav>
  {{outlet}}
</div>
