<h1>New Folder</h1>
  <form>
    <div class="form-group">
      <label for="name">Folder Name</label>
      {{input value=name id="name" class="form-control"}}
    </div>
  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>

{{outlet}}
<div>
  <br />
  {{#link-to 'folders' classNames="btn btn-warning"}}See list of Folders{{/link-to}}
</div>
